<html>
    <head>
        <title>Deepu's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Deepu's Blog</a></h1>
        </div>

        <div>
            <p>published: 08.12.2016, 10:15</p>
            <h2><a href="">My first post</a></h2>
            <p>Django (/ˈdʒæŋɡoʊ/ jang-goh) is a free and open source web application framework, written in Python. A web framework is a set of components that helps you to develop websites faster and easier.</p>
        </div>

        <div>
            <p>published: 08.12.2016, 10:15</p>
            <h2><a href="">My second post</a></h2>
            <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source. </p>
        </div>
    </body>
</html>

